/* page 1 */
body {
    background-color: #F5F5F5;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

a {
    color: black;
    font-family: 'Poppins', sans-serif;
}

.line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #000000 solid;
    padding: 30px 536px;
    font-size: 18px;
    line-height: 27px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 166px 125px ;
}

.card1 {
    max-width: 333px;
    width: 100%;
    max-height: 481px;
    height: 100%;
    border: 1px solid #000000;
    padding: 10px 11px;
}

.img1 .img2 .img3{
    margin-top: 11px;
    width: 310px;
    height: 328px;
}

h2{
    margin-top: 26px;
    font-size: 16px;
    line-height: 24px;
}

.paragraph-1 {
    margin-top: 14px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3%;
}

.button1 {
    font-size: 12px;
    line-height: 18px;
    border-radius: 1px solid black;
    margin-top: 60px;
    margin-left: 225px;

}

/* page2 */

.header2 {
    font-size: 40px;
    line-height: 60px;
    margin-top: 183px;
    text-align: center;
}

.wrapper {
    font-size: 25px;
    line-height: 37.5px;
    margin-top: 117px;
    margin-left: 175px;

}


/* page 3 */
h3 {
    font-size: 40px;
    line-height: 60px;
    margin-top: 183px;
    text-align: center;
}

.wrapper-2 {
    margin: 117px 490px 0 175px;
    font-size: 25px;
}


.address-2 {
    margin-top: 118px;
}

.adress-1 {
    margin-top: 28px;
    font-size: 25px;
    line-height: 37.5px;
    margin-bottom: 28px;
}

